
    {{#> layout currentPage='Home'}}
    {{#if messages.success}}
        <div class="alert alert-success" role="alert">
        {{ messages.success }}
        </div>
        {{/if }}


    <!-- content -->
    <div class="container-md" style="text-align: right;">
      <h1 style="text-align: center;">Daftar Kota Provinsi {{prov.nama}}</h1>
      {{#if user}}
      <a class="btn btn-success mb-3" href="/addKab/{{prov.id}}">Add Kabupaten</a>
      {{/if }}
      <div class="row">
      {{#each kab}}
        <div class="card border border-white col-3 mb-4" style="width: 18rem; margin:auto">
            <div class="card-body border border-success mb-2">
              <img src="/{{this.photo}}" class="card-img-top" alt="...">
              <h5 class="card-title fw-bold text-success">{{this.nama}}</h5>
              <p class="card-text ">{{this.diresmikan}}</p>

              <div class="aksiUbah" style="display: flex; justify-content:space-between">

                <a href="/updateKab/{{this.id}}" class="btn btn-success btn-sm">ubah</a>
                <form id="delete" action="/provDetail/{{this.id}}?_method=DELETE" method="post">
                  <button class="btn btn-danger btn-sm" style="display: inline;" onclick="return confirm('Hapus?')" type="submit">hapus</button>
                </form>

              </div>
            </div>
          </div>
      {{/each}}
      </div>

        
        </div>

    </div>
    {{/layout }}
